* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font: 400 14px "Oswald";
}

$background-color: #FFFFFF;
$btn-color: #0057FF;
$border-color: #E7E7E7;

body {
    background-color: $background-color;
    width: 1120px;
    margin: auto;
    position: relative;
}


.head {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: $background-color;
    width: 1120px;

    .logo {
        background-image: url(./assets/IMAGE.svg);
        width: 93px;
        height: 32px;
        margin-top: 23px;
    }

    ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin-top: 30px;

        li:not(:last-child) {
            margin-right: 40px;
        }
    }

    .btn {
        background-color: $btn-color;
        border-radius: 30px;
        border: none;
        width: 193px;
        height: 52px;
        color: $background-color;
        margin-top: 15px;
    }
}

main {

    .left-side {
        background-image: url(./assets/IMAGE.png);
        width: 540px;
        height: 589px;
        position: absolute;
        top: 140px;
    }

    .right-side {
        position: absolute;
        left: 55%;
        top: 140px;

        h1 {
            font-size: 40px;
        }

        p {
            font: 400 15px "Roboto";
            margin-top: 48px;
            margin-bottom: 58px;
        }

        .wrapper {
            .block {
                width: 498px;
                border: 1px solid $border-color;
                display: flex;
                flex-direction: row;

                p {
                    margin: 30px 40px 30px 40px;
                    font: 400 16px "Oswald";
                }

                .plus {
                    background-image: url(./assets/Frame.png);
                    width: 25px;
                    height: 25px;
                    margin: 30px 40px 30px auto;
                }
            }

            .response {
                width: 498px;
                border: 1px solid $border-color;

                p {
                    margin: 10px 50px 10px 50px;
                    font: 400 14px "Oswald";
                }
            }
        }
    }
}