* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font: 400 14px "Oswald";
}

body {
  background-color: #FFFFFF;
  width: 1120px;
  margin: auto;
  position: relative;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #FFFFFF;
  width: 1120px;
}
.head .logo {
  background-image: url(./assets/IMAGE.svg);
  width: 93px;
  height: 32px;
  margin-top: 23px;
}
.head ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  margin-top: 30px;
}
.head ul li:not(:last-child) {
  margin-right: 40px;
}
.head .btn {
  background-color: #0057FF;
  border-radius: 30px;
  border: none;
  width: 193px;
  height: 52px;
  color: #FFFFFF;
  margin-top: 15px;
}

main .left-side {
  background-image: url(./assets/IMAGE.png);
  width: 540px;
  height: 589px;
  position: absolute;
  top: 140px;
}
main .right-side {
  position: absolute;
  left: 55%;
  top: 140px;
}
main .right-side h1 {
  font-size: 40px;
}
main .right-side p {
  font: 400 15px "Roboto";
  margin-top: 48px;
  margin-bottom: 58px;
}
main .right-side .wrapper {
  margin-bottom: 30px;
}
main .right-side .wrapper .block {
  width: 498px;
  border: 1px solid #E7E7E7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
main .right-side .wrapper .block p {
  margin: 30px 40px 30px 40px;
  font: 400 16px "Oswald";
}
main .right-side .wrapper .block .plus {
  background-image: url(./assets/Frame.png);
  width: 25px;
  height: 25px;
  margin: 30px 40px 30px auto;
}
main .right-side .wrapper .response {
  width: 498px;
  border: 1px solid #E7E7E7;
}
main .right-side .wrapper .response p {
  margin: 10px 50px 10px 50px;
  font: 400 14px "Oswald";
}